<!doctype html>
<html>
<head>
  <title>{{title}}</title>
</head>
<body>
{{{contents}}}
<hr/>
{{{sections.about}}}
<h2>Colors I like</h2>
{{#each sections.list}}
<li>{{{this}}}</li>
{{/each}}
</body>
</html>